<div class="footer__container">
    <div class="footer__content">
        <div class="footer__section">
            <h3>Studio Ghibli Brasil</h3>
            <p>Trazendo a magia do estúdio Ghibli para os fãs brasileiros desde 2024.</p>
        </div>
        <div class="footer__section">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['/filmografia']">Filmes</a></li>
                <li><a [routerLink]="['/sobre']">Sobre</a></li>
                <li><a [routerLink]="['/contato']">Contato</a></li>
            </ul>
        </div>
        <div class="footer__section">
            <h3>Social</h3>
            <ul>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__copyright">
        <p>&copy; 2024 Studio Ghibli Brasil. Todos os direitos reservados. Fã-site sem fins lucrativos.</p>
    </div>
</div>