<div class="sobre__container">
    <div class="sobre__content">
        <h1>Sobre o Studio Ghibli</h1>
        <p>
            O Studio Ghibli é um estúdio de animação japonês baseado em Koganei, Tóquio.
            Fundado em 15 de junho de 1985 pelos diretores Hayao Miyazaki e Isao Takahata e pelo produtor Toshio Suzuki.
        </p>
        <p>
            O estúdio é conhecido mundialmente por seus longas-metragens de animação, além de fazer curtas-metragens,
            comerciais de televisão e filmes para televisão.
        </p>
        <img src="assets/ghibli-images/kiki_landscape.png" alt="Studio Ghibli Landscape">
    </div>
</div>