<div class="container__big-card">

  <div class="big-card__photo">
    <img src="https://s2-oglobo.glbimg.com/HY899QfBFEJ25-k2Hzbl0RJ7FzI=/0x0:1220x674/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2024/3/2/yGs3AwSYKMA8z7IAH6BQ/whatsapp-image-2024-02-21-at-19.01.29.jpeg" alt="Imagem do filme O menino e a Garça" height="200px" srcset="">
  </div>
  <div class="big_card__title">
    <h1><a>O Menino e a Garça é indicado ao Oscar na categoria Melhor Animação</a></h1>
  </div>
  <div class="big_card__description">
    <p><a href="#">A animação do Studio Ghibli concorrerá com Homem-Aranha: Através do Aranhaverso “O Menino e a Garça” Divulgação/Studio
    Ghibli Foi anunciado nesta terça feira (23)</a></p>
  </div>
</div>

