.container__small-card3 {
  width: 700px;
  margin-bottom: 15px;
}
.container__small-card3-content {
  display: flex;
  flex-direction: row;
}
.small-card3__photo>img {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card3__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__small-card3__separator{
  margin-top: 10px;
}
